.header
  .header__content
    .header__content__left
      遠州  フィッシャーマンズ
    .header__content__right   
      .header__content__right__new
        .header__content__right__new__btn
          新規登録
      .header__content__right__logout
        .header__content__right__logout__btn
          ログイン
      .header__content__right__diary
        .header__content__right__diary__btn
          釣行日記
      .header__content__right__board
        .header__content__right__board__btn
          交流掲示板